.spacer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* aspect-ratio: 900/900; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../public/wavyblob.svg');
}

.layer2 {
    background-image: url('../public/wavyblobflip.svg');
}